<!DOCTYPE html>

<html>
  <head>
    <title>Nucleotide Sequence</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    {{adjust_iframe_height_script}}
    {{data_download}}
  </head>

  <body>
    <div>
    {{#if nucleotide_sequences}}
      <pre>{{nucleotide_sequences.value}}</pre>
    {{/if}}
    </div>
  </body>
</html>

