<!DOCTYPE html>

<html>
  <head>
    <title>Organism Related Disease</title>
    <link rel="stylesheet" href="/stanza/assets/nanostanza.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/stanza/assets/nanostanza.js"></script>
  </head>

  <body>
    <h1>Pathogenicity</h1>
    <div id="main-view">
      <img class='single-image-view' src="{{list_disease}}" alt='pathigen'>
    </div>
  </body>
</html>
