!!!
%html
  %head
    %title Sample Page
    / こんな感じでJavaScriptを読み込んで頂き
    =javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'
    =javascript_include_tag 'stanza', 'absolute=true'
  %body
    / スタンザを表示したい箇所に以下の様なDIVを埋めてみて下さい
    %div(data-stanza-type='transcript_attributes_stanza' data-stanza-gene-id='slr0613')

    %div(data-stanza-type='general_summary_stanza' data-stanza-gene-id='slr0612' data-stanza-width='600px')

    %div(data-stanza-type='general_summary_stanza' data-stanza-gene-id='sll1615' data-stanza-width='600px')

    %div(data-stanza-type='general_summary_stanza' data-stanza-gene-id='sll1098' data-stanza-width='400px')
