<!DOCTYPE html>
<html>
  <head>
    <title>Taxonomy Ortholog Profile</title>
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <style type="text/css">
      div.bar {
         display: inline-block;
         width: 20px;
         height: 75px;
         margin-right: 2px;
         background-color: teal;
      }
    </style>
  </head>
  <body>
    <div id="chart"></div>
    <script type="text/javascript">
      var fg = 0;
      var w = 800;
      var h = 400;
      var barw = 35;
      var barPadding = 5;
      var stposx = 20;
      var maxwidth = 600;
      init();

      function init() {
        console.log({{param_tax_id}});
        d3.json('./taxonomy_ortholog_profile/resources/taxonomy_ortholog_profile?tax_id={{param_tax_id}}', function(error, data) {
          if(data.taxonomy_ortholog_profile.length > 0) { 
            draw(data.taxonomy_ortholog_profile);
          } else {
            $("#chart").text("No data");
            adjust_iframe_height();
          }
        })
      }

      function draw(data) {
        console.log(data);
        var svg = d3.select("#chart")
                    .append("svg")
                    .attr("width", w)
                    .attr("height", h);

        var tooltip = d3.select("body")
                        .append("div")
                        .style("position", "absolute")
                        .style("z-index", "10")
                        .style("visibility", "hidden")
                        .style("font-size", "16px")
                        .style("font-family", "sans-serif")
                        .text(function(tax) {
                          return tax;
                        });

        svg.selectAll("rect")
           .data(data)
           .enter()
           .append("rect")
           .attr("x", function(d,i) {
             return stposx;
           })
           .attr("y", function(d,i) {
             return i*(barw+barPadding);
           })
           .attr("height", barw)
           .attr("width", function(d,i) {
             if (i==0) {
               fg = maxwidth / d.count;
               return maxwidth;
             } else {
               return d.count * fg;
             }
           })
           .attr("fill", function(d,i) {
             if (i % 2 == 0) {
               return "rgb(167,179,129)";
             } else {
               return "rgb(202,209,151)";
             }
           });

        svg.selectAll("text.count")
           .data(data)
           .enter()
           .append("text")
           .text(function(d) {
             return d.count;
           })
           .attr("text-anchor", "middle")
           .attr("y", function(d,i) {
             return (i+1) * (barw+barPadding) - (barw-barPadding)/2;
           })
          .attr("x", function() {
            return stposx + 15 ;
          })
          .attr("font-family", "sans-serif")
          .attr("font-size", "14px")
          .attr("fill", "#ffffff");

        svg.selectAll("text.name")
           .data(data)
           .enter()
           .append("text")
           .text(function(d) {
             return d.comment;
           })
           .attr("text-anchor", "middle")
           .attr("y", function(d,i) {
             return (i+1) * (barw+barPadding) - (barw-barPadding)/2;
           })
           .attr("x", function() {
             return stposx + 35;
           })
           .attr("text-anchor", "start")
           .attr("font-family", "sans-serif")
           .attr("font-size", "14px")
           .attr("fill", "#444444");

        adjust_iframe_height();
      }

      function adjust_iframe_height(height_px) {
        var height = 0;
        if(height_px) {
          height = height_px;
        } else {
          height = document.body.offsetHeight + 30;
        }
        parent.postMessage(JSON.stringify({height: height, id: name}), "*");
      } 
    </script>
  </body>
</html>

