<!DOCTYPE html>

<html>
  <head>
    <meta charset='utf-8'>
    <title>Number of inhabitants</title>
    <link rel="stylesheet" href="/stanza/assets/nanostanza.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/stanza/assets/nanostanza.js"></script>
  </head>

  <body>
    <h1>Number of inhabitants</h1>
    <div id="main-view">
      <p class="single-text-view text-size-adjust text-size-middle">{{inhabitants_stats.first.cnt}}</p>
    </div>
  </body>
</html>
